In [21]:
import pandas as pd
import re
#df = pd.read_csv("output.csv")
df = pd.read_csv("output_tv.csv") # new data with all episodes
df = df.drop(["Unnamed: 0"], axis=1)

In [22]:
df.count()

Characters    25243
Quotes        25126
dtype: int64

In [23]:
df.head()

  Characters                                             Quotes
0        Fry  Space. It seems to go on and on forever. But t...
1        Fry                  And that's how you play the game!
2        Boy                                  You stink, loser!
3    Panucci                 Hey, Fry. Pizza goin' out! C'mon!!
4        Fry                   Michelle, baby! Where you going?

In [24]:
#Stackoverflow solution to remove data within () [].
'''
import re 
x = "This is a sentence. (once a day) [twice a day]"
x = re.sub("[\(\[].*?[\)\]]", "", x)
'''

quotes3 = []
for x in  df["Quotes"]:
    x = re.sub("[\(\[].*?[\)\]]", "", str(x))
    quotes3.append(str(x))

In [25]:
len(quotes3)

25243

In [26]:
df["Remove Data"] = quotes3
df.head(1)

,Characters,Quotes,Remove Data
0,Fry,Space. It seems to go on and on forever. But t...,Space. It seems to go on and on forever. But t...

In [27]:
#Removes punctuation and creates new column
df["Quotes w/o Pun."] = df["Remove Data"].str.replace('[^\w\s]','')
df.head()

,Characters,Quotes,Remove Data,Quotes w/o Pun.
0,Fry,Space. It seems to go on and on forever. But t...,Space. It seems to go on and on forever. But t...,Space It seems to go on and on forever But the...
1,Fry,And that's how you play the game!,And that's how you play the game!,And thats how you play the game
2,Boy,"You stink, loser!","You stink, loser!",You stink loser
3,Panucci,"Hey, Fry. Pizza goin' out! C'mon!!","Hey, Fry. Pizza goin' out! C'mon!!",Hey Fry Pizza goin out Cmon
4,Fry,"Michelle, baby! Where you going?","Michelle, baby! Where you going?",Michelle baby Where you going

In [28]:
#drop/rename columns to original state
new_df = df.drop(columns= ["Quotes","Remove Data"])
new_df.columns = ["Characters", "Quotes"]
new_df.head()

  Characters                                             Quotes
0        Fry  Space It seems to go on and on forever But the...
1        Fry                    And thats how you play the game
2        Boy                                    You stink loser
3    Panucci                        Hey Fry Pizza goin out Cmon
4        Fry                      Michelle baby Where you going

In [29]:
#convert to csv
new_df.to_csv("clean_output_tv.csv")