In [1]:
import pandas as pd
df = pd.read_csv("output.csv")
df = df.drop(["Unnamed: 0"], axis=1)

In [2]:
df.groupby("Characters").count().sort_values(by="Quotes", ascending=False).head(10)

            Quotes
Characters
FRY           2629
BENDER        2322
LEELA         2086
FARNSWORTH     985
ZOIDBERG       567
AMY            480
HERMES         391
ZAPP           330
KIF            190
CALCULON       106

In [3]:
mask = (df['Quotes'].str.len() > 22)
df2 = df.loc[mask]

In [4]:
df2.groupby("Characters").count().sort_values(by="Quotes", ascending=False).head(10)

            Quotes
Characters
FRY           1931
BENDER        1768
LEELA         1611
FARNSWORTH     804
ZOIDBERG       420
AMY            312
HERMES         293
ZAPP           279
KIF            146
CALCULON        90

In [30]:
df.head(5)

  Characters                                             Quotes
0        MAN  (voice-over) Space. It seems to go on and on f...
1        FRY                  And that's how you play the game!
2        KID                                  You stink, loser!
3    PANUCCI                 Hey, Fry. Pizza goin' out! C'mon!!
4        FRY                   Michelle, baby! Where you going?

In [38]:
FRY = df[df['Characters']== "FRY"]
FRY_Quotes = FRY[["Quotes"]]
FRY_Quotes.to_csv("Resources/Fry.csv")
FRY_Quotes.to_csv("word_cloud-master/examples/Fry.csv")

In [39]:
BENDER = df[df['Characters']== "BENDER"]
BENDER_Quotes = BENDER[["Quotes"]]
BENDER_Quotes.to_csv("Resources/BENDER.csv")
BENDER_Quotes.to_csv("word_cloud-master/examples/Bender.csv")

In [40]:
LEELA = df[df['Characters']== "LEELA"]
LEELA_Quotes = LEELA[["Quotes"]]
LEELA_Quotes.to_csv("Resources/LEELA.csv")
LEELA_Quotes.to_csv("word_cloud-master/examples/Leela.csv")

In [41]:
FARNSWORTH = df[df['Characters']== "FARNSWORTH"]
FARNSWORTH_Quotes = FARNSWORTH[["Quotes"]]
FARNSWORTH_Quotes.to_csv("Resources/Farnsworth.csv")
FARNSWORTH_Quotes.to_csv("word_cloud-master/examples/Farnsworth.csv")

In [42]:
ZOIDBERG = df[df['Characters']== "FARNSWORTH"]
ZOIDBERG_Quotes = ZOIDBERG[["Quotes"]]
ZOIDBERG_Quotes.to_csv("Resources/Zoidberg.csv")
ZOIDBERG_Quotes.to_csv("word_cloud-master/examples/Zoidberg.csv")