In [1]:
import pandas as pd

In [3]:
df_futurama = pd.read_csv("../futurama/clean_4characters_tv.csv")
df_simpsons = pd.read_csv("../Simpsons/4ch_simpsons.csv")
df_west_wing = pd.read_csv("../west_wing/4ch_west_wing_masked.csv")
df_pirates = pd.read_csv("../pirates_test/4ch_pirates.csv")

In [34]:
df_futurama["Unnamed: 0"] = "futurama"
df_futurama = df_futurama.rename(columns={"Unnamed: 0": "show"})
df_simpsons["Unnamed: 0"] = "simpsons"
df_simpsons = df_simpsons.rename(columns={"Unnamed: 0": "show"})
df_west_wing["Unnamed: 0"] = "west_wing"
df_west_wing = df_west_wing.rename(columns={"Unnamed: 0": "show"})
df_pirates["Unnamed: 0"] = "pirates"
df_pirates = df_pirates.rename(columns={"Unnamed: 0": "show"})

In [35]:
df = pd.concat([df_futurama, df_simpsons, df_west_wing, df_pirates])

In [36]:
df.groupby("Characters").count().sort_values("Quotes", ascending=False)

            Quotes  show
Characters
homer         5901  5901
josh          4645  4645
bartlet       4441  4441
c.j.          3651  3651
toby          3324  3324
marge         2848  2848
Fry           2790  2790
Bender        2700  2700
bart          2698  2698
lisa          2336  2336
Leela         2319  2319
Farnsworth    1295  1295
Jack           436   453
Will           301   308
Elizabeth      285   292

In [37]:
# 4 characters
df_4ch = df[(df.Characters == "homer") | (df.Characters == "bartlet") | (df.Characters == "Fry")
   | (df.Characters == "Jack")]

In [38]:
df_4ch.to_csv("4ch_combined.csv")

In [39]:
# 3 characters
df_3ch = df[(df.Characters == "homer") | (df.Characters == "bartlet") | (df.Characters == "Fry")]

In [40]:
df_3ch.to_csv("3ch_combined.csv")

In [41]:
mask = (df['Quotes'].str.len() >22)
df2 = df.loc[mask]

In [42]:
# 4 characters
df_4ch_masked = df2[(df2.Characters == "homer") | (df2.Characters == "bartlet") | (df2.Characters == "Fry")
   | (df2.Characters == "Jack")]

In [43]:
df_4ch_masked.to_csv("4ch_combined_masked.csv")

In [44]:
# 3 characters
df_3ch_masked = df2[(df2.Characters == "homer") | (df2.Characters == "bartlet") | (df2.Characters == "Fry")]

In [45]:
df_3ch_masked.to_csv("3ch_combined_masked.csv")

In [46]:
df_3ch_masked.groupby("Characters").count()

            Quotes  show
Characters
Fry           2790  2790
bartlet       4441  4441
homer         5901  5901

In [47]:
df.groupby("Characters").count().sort_values("Quotes", ascending=False)

            Quotes  show
Characters
homer         5901  5901
josh          4645  4645
bartlet       4441  4441
c.j.          3651  3651
toby          3324  3324
marge         2848  2848
Fry           2790  2790
Bender        2700  2700
bart          2698  2698
lisa          2336  2336
Leela         2319  2319
Farnsworth    1295  1295
Jack           436   453
Will           301   308
Elizabeth      285   292