In [1]:
import pandas as pd

In [3]:
df_futurama = pd.read_csv("../futurama/clean_4characters_tv.csv")
df_simpsons = pd.read_csv("../Simpsons/4ch_simpsons.csv")
df_west_wing = pd.read_csv("../west_wing/4ch_west_wing_masked.csv")
df_pirates = pd.read_csv("../pirates_test/4ch_pirates.csv")

In [4]:
df = pd.concat([df_futurama, df_simpsons, df_west_wing, df_pirates])

In [9]:
df.groupby("Characters").count().sort_values("Quotes", ascending=False)

            Quotes  Unnamed: 0
Characters
homer         5901        5901
josh          4645        4645
bartlet       4441        4441
c.j.          3651        3651
toby          3324        3324
marge         2848        2848
Fry           2790        2790
Bender        2700        2700
bart          2698        2698
lisa          2336        2336
Leela         2319        2319
Farnsworth    1295        1295
Jack           436         453
Will           301         308
Elizabeth      285         292

In [10]:
# 4 characters
df_4ch = df[(df.Characters == "homer") | (df.Characters == "bartlet") | (df.Characters == "Fry")
   | (df.Characters == "Jack")]