In [1]:
# source: https://www.youtube.com/watch?v=RZYjsw6P4nI

#Data Source: https://archive.ics.uci.edu/ml/machine-learning-databases/00228/

In [2]:
#Dependencies
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import MultinomialNB

C:\Users\hakhalid\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
#Read the CSV
df=pd.read_csv('output_tv.csv')
df = df.drop(["Unnamed: 0"], axis=1)

In [4]:
#Show the dataframe preview
df.groupby("Characters").count().sort_values(by="Quotes", ascending=False).head(10)

                      Quotes
Characters
Fry                     3996
Bender                  3704
Leela                   3186
Farnsworth              1553
Zoidberg                 987
Amy                      930
Hermes                   862
Zapp                     503
Professor Farnsworth     284
Kif                      254

In [5]:
#Length of the dataset
len(df)

25243

In [6]:
#Length of each character
# len(df[df.Characters=='Fry'])

In [7]:
#Length of each character
# len(df[df.Characters=='Boy'])

In [8]:
#Assigning Characters a number
df.loc[df["Characters"]=='Fry',"Characters",]=0
df.loc[df["Characters"]=='Bender',"Characters",]=1
df.loc[df["Characters"]=='Leela',"Characters",]=2
df.loc[df["Characters"]=='Farnsworth',"Characters",]=3
df.loc[df["Characters"]=='Zoidberg',"Characters",]=4
df.loc[df["Characters"]=='Amy',"Characters",]=5
df.loc[df["Characters"]=='Hermes',"Characters",]=6
df.loc[df["Characters"]=='Zapp',"Characters",]=7
df.loc[df["Characters"]=='Professor Farnsworth',"Characters",]=8
df.loc[df["Characters"]=='Kif',"Characters",]=9
df.loc[df["Characters"]=='Mom',"Characters",]=10
df.loc[df["Characters"]=='Calculon',"Characters",]=11
df.loc[df["Characters"]=='Nixon',"Characters",]=12
df.loc[df["Characters"]=='Cubert',"Characters",]=13
df.loc[df["Characters"]=='Lrrr',"Characters",]=14
df.loc[df["Characters"]=='Nibbler',"Characters",]=15
df.loc[df["Characters"]=='Robot Devil',"Characters",]=16
df.loc[df["Characters"]=='Mr. Wong',"Characters",]=17
df.loc[df["Characters"]=='Morbo',"Characters",]=18
df.loc[df["Characters"]=='Dwight',"Characters",]=19
df.loc[df["Characters"]=='Linda',"Characters",]=20
df.loc[df["Characters"]=='URL',"Characters",]=21
df.loc[df["Characters"]=='Elzar',"Characters",]=22
df.loc[df["Characters"]=='LaBarbara',"Characters",]=23
df.loc[df["Characters"]=='Scruffy',"Characters",]=24
df.loc[df["Characters"]=='Man',"Characters",]=25
df.loc[df["Characters"]=='Wernstorm',"Characters",]=26
df.loc[df["Characters"]=='Sal',"Characters",]=27
df.loc[df["Characters"]=='Nudar',"Characters",]=28
df.loc[df["Characters"]=='Walt',"Characters",]=29

# I feel like we should only keep the top 10

In [9]:
#df

In [10]:
#Split the data and the result
df_x=df["Quotes"]
df_y=df["Characters"]

In [11]:
# Split the test and the training data
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=4)

In [12]:
# Convert a collection of text documents to a matrix of token counts
cv = CountVectorizer()

In [13]:
x_traincv = cv.fit_transform()

TypeError: fit_transform() missing 1 required positional argument: 'raw_documents'