In [1]:
import pandas as pd
df = pd.read_csv("output.csv")
df = df.drop(["Unnamed: 0"], axis=1)

In [2]:
df.groupby("Characters").count().sort_values(by="Quotes", ascending=False).head(10)

            Quotes
Characters
FRY           2629
BENDER        2322
LEELA         2086
FARNSWORTH     985
ZOIDBERG       567
AMY            480
HERMES         391
ZAPP           330
KIF            190
CALCULON       106

In [5]:
mask = (df['Quotes'].str.len() > 10)
df2 = df.loc[mask]

In [6]:
df2.groupby("Characters").count().sort_values(by="Quotes", ascending=False).head(10)

            Quotes
Characters
FRY           2341
BENDER        2108
LEELA         1907
FARNSWORTH     907
ZOIDBERG       503
AMY            390
HERMES         348
ZAPP           310
KIF            174
CALCULON       103